body {
    background: LightSlateGray;
}

.btn {
    position: relative;
    left: 1500px;
}

.vl {
    /*Горизантальная линия*/
    position: absolute;
    border-left: 4px solid black;
    height: 890px;
    left: 220px;
}

#result {
    position: relative;
    bottom: -1200px;
    /*РЕЗУЛЬТАТ*/
}

.input {
    /*ИТОГО*/
    position: absolute;
    width: 200px;
    height: 100px;
    left: 500px;
    background-color: #fff;
}

.knopka {
    /*КНОПКА ВЫЧЕТА*/
    width: 250px;
    height: 100px;
    position: absolute;
    left: 1000px;
}