body {
    background: LightSlateGray;
}

.btn {
    position: relative;
    left: 1500px;
}

.vl {
    position: absolute;
    border-left: 4px solid black;
    height: 890px;
    left: 220px;
}

#result {
    position: relative;
    bottom: -1200px;
}

.input {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #fff;
    justify-content: flex-end;
}