body {
    background: #010409;
}

* {
    margin: 0;
    padding: 0;
}


/*#161b22*/

.btn {
    position: relative;
    left: 1500px;
}

.vl {
    /*Горизантальная линия*/
    position: absolute;
    border-left: 4px solid #30363d;
    height: 488px;
    left: 220px;
}

#result {
    background-color: silver;
    bottom: 100px;
    height: 100px;
    border: 1px solid #fff;
    /*РЕЗУЛЬТАТ*/
}

.knopka {
    /*КНОПКА ВЫЧЕТА*/
}

.main {
    display: flex;
    justify-content: flex-end;
}